In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
from tqdm import tqdm
from geoband.API import *
import geopandas as gpd
from shapely.geometry import Polygon, LineString, Point
import folium
import googlemaps
import missingno as msno
from urllib.request import urlopen, Request
from urllib import parse
from urllib.error import HTTPError
from bs4 import BeautifulSoup
import json
import lxml.html
import requests
from selenium.webdriver import Chrome
import re
from webdriver_manager.chrome import ChromeDriverManager
import simplejson
import sys

%matplotlib inline
plt.rc('font', family='malgun gothic')
plt.rc('axes', unicode_minus=True)

#gmaps = googlemaps.Client("AIzaSyAgsSK07Y-SsCEotKBZkm1aKuOjtT3qWqs")
client_id = '0uy2xwa8l9'
client_pw = 'e1s2zY0HlhaEoTYRFRcXjvk2gjHHqGHWKHLfsMAl'
api_url = 'https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query='
url = "https://dapi.kakao.com/v2/local/search/keyword.json?"
apikey = "55fe00eb2365ec9c7509a48bf4197728"

### Read Data

In [ ]:
# 데이터 다운로드
GetCompasData('SBJ_2107_003', '1', '1.부산시남구_주정차위반이력.csv')
GetCompasData('SBJ_2107_003', '2', '2.부산시남구_동별_자동차등록현황.csv')
GetCompasData('SBJ_2107_003', '3', '3.부산시남구_주차장현황')
GetCompasData('SBJ_2107_003', '4', '4.부산시남구_건축물대장(표제부).csv')
GetCompasData('SBJ_2107_003', '5', '5.부산시남구_도로명주소(건물).geojson')
GetCompasData('SBJ_2107_003', '6', '6.부산시남구_주택노후도.geojson')
GetCompasData('SBJ_2107_003', '7', '7.부산시남구_버스정류소정보.csv')
GetCompasData('SBJ_2107_003', '8', '8.부산시남구_지하철역정보.csv')
GetCompasData('SBJ_2107_003', '9', '9.부산시남구_동별_인구정보.csv')
GetCompasData('SBJ_2107_003', '10', '10.부산시남구_공시지가.geojson')
GetCompasData('SBJ_2107_003', '11', '11.부산시남구_도로명주소(도로).geojson')
GetCompasData('SBJ_2107_003', '12', '12.부산시남구_토지이용현황.geojson')
GetCompasData('SBJ_2107_003', '13', '13.부산시남구_토지이용현황(코드).csv')
GetCompasData('SBJ_2107_003', '14', '14.부산시남구_행정경계(읍면동).geojson')
GetCompasData('SBJ_2107_003', '15', '15.부산시남구_격자(300X300).geojson')
GetCompasData('SBJ_2107_003', '16', '16.코드정의서.xlsx')

In [2]:
illegal = pd.read_csv('1.부산시남구_주정차위반이력.csv')
car_registered = pd.read_csv('2.부산시남구_동별_자동차등록현황.csv')
parking_lot = pd.read_csv('3.부산시남구_주차장현황')
building_register = pd.read_csv('4.부산시남구_건축물대장(표제부).csv')
building_address = gpd.read_file('5.부산시남구_도로명주소(건물).geojson')
building_old = gpd.read_file('6.부산시남구_주택노후도.geojson')
bus = pd.read_csv('7.부산시남구_버스정류소정보.csv')
subway = pd.read_csv('8.부산시남구_지하철역정보.csv')
pop = pd.read_csv('9.부산시남구_동별_인구정보.csv')
land_price = gpd.read_file('10.부산시남구_공시지가.geojson')
road_address = gpd.read_file('11.부산시남구_도로명주소(도로).geojson')
land_usage = gpd.read_file('12.부산시남구_토지이용현황.geojson')
boundary = gpd.read_file('14.부산시남구_행정경계(읍면동).geojson')
namgu_grid = gpd.read_file('15.부산시남구_격자(300X300).geojson')

In [ ]:
illegal_resid = illegal.cd_cm_addr.value_counts().reset_index().rename(columns={'index':'addr','cd_cm_addr':'count'})

In [3]:
def extract_tourist(x):
    if x.startswith('부산광역시 남구') == False:
        return '여행객'
    else:
        return x

In [ ]:
illegal_resid.addr = illegal_resid.addr.map(extract_tourist)
illegal_resid = illegal_resid.groupby('addr').sum().reset_index()

In [4]:
# 주정차위반 거주자 주소 동 추출
def extract_dong(x):
    if x == '여행객':
        return '여행객'
    r = requests.get(url, params={'query':x}, headers={'Authorization':'KakaoAK '+apikey})
    js = simplejson.JSONEncoder().encode(r.json())
    if r.json()['documents'] == []:
        return '문현동'
    else:
        return pd.Series(r.json()['documents'][0]['address_name'].split(' '))\
    [pd.Series(r.json()['documents'][0]['address_name'].split(' ')).map(lambda x:x.endswith('동'))].reset_index(drop=True)[0]

In [ ]:
illegal_resid['dong'] = illegal_resid.addr.map(extract_dong)

In [5]:
# 주정차위반 거주자 주소 동 통합(용호2동 -> 용호동)
def combine_splitted_dong(x):
    if x == '여행객':
        return '여행객'
    return str(x)[:2]+'동'

In [ ]:
illegal_resid['dong'] = illegal_resid['dong'].map(combine_splitted_dong)
illegal_resid.to_csv('illegal_resid.csv')

In [6]:
def extract_dong2(x):
    if x[:2] == '남구':
        return x[3:5]+'동'
    elif x[:2] == '부산':
        return '문현동'
    elif x[:2] == '동명':
        return '용호동'
    elif x[:2] == '동천':
        return '문현동'
    else:
        return x[:2]+'동'

In [ ]:
illegal['cd_loc_dong'] = illegal.cd_loc.map(extract_dong2)
illegal = illegal.drop(illegal[illegal.cd_loc.map(lambda x: x.startswith('수영구'))].index).reset_index(drop=True)
illegal.loc[illegal.cd_loc_dong=='대여동','cd_loc'] = illegal.loc[illegal.cd_loc_dong=='대여동','cd_loc'].map(lambda x: x.replace('대여동','대연동'))
illegal.loc[illegal.cd_loc_dong=='수영동','cd_loc'] = illegal.loc[illegal.cd_loc_dong=='수영동','cd_loc'].map(lambda x: '문현동 '+x)
illegal['cd_loc_dong'] = illegal.cd_loc.map(extract_dong2)
illegal = pd.merge(illegal,illegal_resid[['addr','dong']],
                left_on='cd_cm_addr', right_on='addr', how='left').drop('addr', axis=1).rename(columns={'dong':'cd_cm_dong'}).fillna('여행객')

illegal.loc[illegal.cd_loc_dong==illegal.cd_cm_dong,'where'] = '자기동'
illegal['where'] = illegal['where'].fillna('타동')

illegal.to_csv('illegal.csv')

In [7]:
illegal = pd.read_csv('illegal.csv',index_col=0)
illegal_resid = pd.read_csv('illegal_resid.csv',index_col=0)

In [8]:
illegal.cd_date = pd.to_datetime(illegal.cd_date)

In [9]:
illegal_counts_dong = illegal.cd_loc_dong.value_counts().reset_index().rename(columns={'index':'dong','cd_loc_dong':'count'})

In [10]:
illegal_counts_dong.to_csv('illegal_counts_dong.csv')

### Registered Car

In [11]:
car_splitted = car_registered[car_registered.emd_info.map(lambda x: x.endswith('승용') or x.endswith('승합')== True)]
car_splitted['dong'] = car_splitted.emd_info.map(lambda x: x[:3])
car_splitted = car_splitted.groupby('dong').sum()
car_splitted['all'] = car_splitted.sum(axis=1)
car_splitted['non_bs'] = car_splitted.loc[:,car_splitted.columns.map(lambda x: x.startswith('non_bs')==True)].sum(axis=1)
car_splitted['bs'] = car_splitted.loc[:,car_splitted.columns.map(lambda x: x.startswith('bs')==True)].sum(axis=1)
car_splitted['city'] = car_splitted.loc[:,car_splitted.columns.map(lambda x: x.endswith('city')==True)].sum(axis=1)
car_splitted['compact'] = car_splitted.loc[:,car_splitted.columns.map(lambda x: x.endswith('compact')==True)].sum(axis=1)
car_splitted['midsize'] = car_splitted.loc[:,car_splitted.columns.map(lambda x: x.endswith('midsize')==True)].sum(axis=1)
car_splitted['fullsize'] = car_splitted.loc[:,car_splitted.columns.map(lambda x: x.endswith('fullsize')==True)].sum(axis=1)
car_splitted = car_splitted.reindex(index=['대연동','용호동','문현동','감만동','우암동','용당동']).reset_index()
car_splitted

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,dong,non_bs_city,non_bs_compact,non_bs_midsize,non_bs_fullsize,bs_city,bs_compact,bs_midsize,bs_fullsize,all,non_bs,bs,city,compact,midsize,fullsize
0,대연동,2447,418,17283,7790,6,0,713,124,28781,27938,843,2453,418,17996,7914
1,용호동,2347,355,15756,8748,0,0,324,153,27683,27206,477,2347,355,16080,8901
2,문현동,1233,253,8116,3350,6,0,213,62,13233,12952,281,1239,253,8329,3412
3,감만동,692,128,3970,1579,7,0,219,81,6676,6369,307,699,128,4189,1660
4,우암동,337,70,2332,832,0,0,63,5,3639,3571,68,337,70,2395,837
5,용당동,373,63,2119,1100,1,0,136,218,4010,3655,355,374,63,2255,1318

In [12]:
car_splitted.to_csv('car_splitted.csv')

### Population

In [13]:
pop_drive = (pop[pop.age == '총계'].groupby('dong').sum() - pop[pop.age.map(lambda x: x in ['0세∼4세','5세∼9세','10세∼14세','15세∼19세'])].groupby('dong').sum()).reset_index()
pop_drive['dong'] = pop_drive.dong.map(lambda x: x[:2]+'동')
pop_drive_sum = pop_drive.groupby('dong').sum().mean(axis=1).drop('남구동', axis=0).reset_index().rename(columns={0:'pop'})
pop_drive_sum

  dong           pop
0  감만동   39145.93750
1  대연동  156277.68750
2  문현동   83239.96875
3  용당동   14404.12500
4  용호동  139999.93750
5  우암동   27922.46875

In [14]:
car_div_pop = car_splitted.copy()
car_div_pop.iloc[:,1:] =car_splitted.iloc[:,1:].div(pop_drive_sum['pop'], axis=0)
car_div_pop

,dong,non_bs_city,non_bs_compact,non_bs_midsize,non_bs_fullsize,bs_city,bs_compact,bs_midsize,bs_fullsize,all,non_bs,bs,city,compact,midsize,fullsize
0,대연동,0.062510,0.010678,0.441502,0.198999,0.000153,0.0,0.018214,0.003168,0.735223,0.713688,0.021535,0.062663,0.010678,0.459716,0.202167
1,용호동,0.015018,0.002272,0.100821,0.055977,0.000000,0.0,0.002073,0.000979,0.177140,0.174088,0.003052,0.015018,0.002272,0.102894,0.056956
2,문현동,0.014813,0.003039,0.097501,0.040245,0.000072,0.0,0.002559,0.000745,0.158974,0.155598,0.003376,0.014885,0.003039,0.100060,0.040990
3,감만동,0.048042,0.008886,0.275615,0.109621,0.000486,0.0,0.015204,0.005623,0.463478,0.442165,0.021313,0.048528,0.008886,0.290819,0.115245
4,우암동,0.002407,0.000500,0.016657,0.005943,0.000000,0.0,0.000450,0.000036,0.025993,0.025507,0.000486,0.002407,0.000500,0.017107,0.005979
5,용당동,0.013358,0.002256,0.075889,0.039395,0.000036,0.0,0.004871,0.007807,0.143612,0.130898,0.012714,0.013394,0.002256,0.080759,0.047202

In [15]:
pop_drive_sum.to_csv('pop_drive_sum.csv')
car_div_pop.to_csv('car_div_pop.csv')

### parking lot

In [3]:
parking_lot

,park_type_gbn,location,park_slot,lon,lat
0,부설,부산광역시 남구 유엔로157번길 10 (대연동 879-14),2,129.093512,35.130656
1,부설,부산광역시 남구 수영로 274-16 (대연동 372-2),8,129.096972,35.135033
2,부설,부산광역시 남구 수영로 274-16 (대연동 372-2),8,129.096972,35.135033
3,부설,부산광역시 남구 유엔로137번길 36 (대연동 1002-28),1,129.090959,35.131716
4,부설,부산광역시 남구 천제등로16번길 19 (대연동 1219-207),4,129.086612,35.132386
...,...,...,...,...,...
4129,민영,부산광역시 남구 우암로 197 (우암동 173-6) 외 2필지,120,129.074503,35.123588
4130,민영,부산광역시 남구 우암동 265외 1필지,405,129.074691,35.122829
4131,민영,부산광역시 남구 우암동 173-6,79,129.074270,35.123374
4132,민영,부산광역시 남구 우암동 174-108,1,129.074613,35.125236
4133,공영,부산광역시 남구 우암동 93-11번지,20,129.077695,35.125993

In [16]:
def extract_dong_parkinglot(x):
    if '대연' in x:
        return '대연동'
    elif '용호' in x:
        return '용호동'
    elif '문현' in x:
        return '문현동'
    elif '우암' in x:
        return '우암동'
    elif '감만' in x:
        return '감만동'
    elif '용당' in x:
        return '용당동'
    else:
        r = requests.get(url, params={'query':x}, headers={'Authorization':'KakaoAK '+apikey})
        js = simplejson.JSONEncoder().encode(r.json())
        if r.json()['documents'] != []:
            return pd.Series(r.json()['documents'][0]['address_name'].split(' '))\
    [pd.Series(r.json()['documents'][0]['address_name'].split(' ')).map(lambda x:x.endswith('동'))].reset_index(drop=True)[0]
        else:
                if x in ['부산광역시 부산광역시 남구 유엔로157번가길 38', '부산광역시 남구 못골번영로56번길 15-2',\
             '부산광역시 남구 유엔평화로153번길 20~48', '부산광역시 남구 대연3동 548-6번지(글로리빌라 앞 도로)']:
                    return '대연동'
                elif x in ['부산광역시 남구동명로105번길 83', '부산광역시 남구 동명로 132번길 81-148']:
                    return '용호동'
                elif x in ['부산광역시 남구 E-마트 담벽']:
                    return '문현동'

In [ ]:
parking_lot['dong'] = parking_lot.location.map(extract_dong_parkinglot)

parking_lot.to_csv('parkinglot.csv')

In [17]:
parking_lot = pd.read_csv('parkinglot.csv',index_col=0)

In [18]:
parking_lot_count = parking_lot.dong.value_counts().reset_index().rename(columns={'index':'dong','dong':'count'})
parking_lot_count

  dong  count
0  대연동   2412
1  용호동    648
2  문현동    585
3  감만동    184
4  용당동    171
5  우암동    134

In [19]:
parkslot_count = parking_lot.groupby('dong').park_slot.sum().reindex(index=['대연동','용호동','문현동','감만동','우암동','용당동']).reset_index()

In [20]:
car_div_lot = car_splitted.copy().reset_index(drop=True)
car_div_lot.iloc[:,1:] =car_splitted.iloc[:,1:].div(parking_lot_count['count'], axis=0)
car_div_lot

,dong,non_bs_city,non_bs_compact,non_bs_midsize,non_bs_fullsize,bs_city,bs_compact,bs_midsize,bs_fullsize,all,non_bs,bs,city,compact,midsize,fullsize
0,대연동,1.014511,0.173300,7.165423,3.229685,0.002488,0.0,0.295605,0.051410,11.932421,11.582919,0.349502,1.016998,0.173300,7.461028,3.281095
1,용호동,3.621914,0.547840,24.314815,13.500000,0.000000,0.0,0.500000,0.236111,42.720679,41.984568,0.736111,3.621914,0.547840,24.814815,13.736111
2,문현동,2.107692,0.432479,13.873504,5.726496,0.010256,0.0,0.364103,0.105983,22.620513,22.140171,0.480342,2.117949,0.432479,14.237607,5.832479
3,감만동,3.760870,0.695652,21.576087,8.581522,0.038043,0.0,1.190217,0.440217,36.282609,34.614130,1.668478,3.798913,0.695652,22.766304,9.021739
4,우암동,1.970760,0.409357,13.637427,4.865497,0.000000,0.0,0.368421,0.029240,21.280702,20.883041,0.397661,1.970760,0.409357,14.005848,4.894737
5,용당동,2.783582,0.470149,15.813433,8.208955,0.007463,0.0,1.014925,1.626866,29.925373,27.276119,2.649254,2.791045,0.470149,16.828358,9.835821

In [21]:
parking_lot_count.to_csv('parking_lot_count.csv')
parkslot_count.to_csv('parkslot_count.csv')
car_div_lot.to_csv('car_div_lot.csv')

In [22]:
illegal_counts_dy = illegal[illegal.cd_loc_dong=='대연동'].cd_loc.value_counts().reset_index().rename(columns={'index':'cd_loc','cd_loc':'count'})
illegal_counts_yh = illegal[illegal.cd_loc_dong=='용호동'].cd_loc.value_counts().reset_index().rename(columns={'index':'cd_loc','cd_loc':'count'})
illegal_counts_mh = illegal[illegal.cd_loc_dong=='문현동'].cd_loc.value_counts().reset_index().rename(columns={'index':'cd_loc','cd_loc':'count'})
illegal_counts_gm = illegal[illegal.cd_loc_dong=='감만동'].cd_loc.value_counts().reset_index().rename(columns={'index':'cd_loc','cd_loc':'count'})
illegal_counts_wa = illegal[illegal.cd_loc_dong=='우암동'].cd_loc.value_counts().reset_index().rename(columns={'index':'cd_loc','cd_loc':'count'})
illegal_counts_yd = illegal[illegal.cd_loc_dong=='용당동'].cd_loc.value_counts().reset_index().rename(columns={'index':'cd_loc','cd_loc':'count'})

In [23]:
illegal_counts_dy.to_csv('illegal_counts_dy.csv')
illegal_counts_yh.to_csv('illegal_counts_yh.csv')
illegal_counts_mh.to_csv('illegal_counts_mh.csv')
illegal_counts_gm.to_csv('illegal_counts_gm.csv')
illegal_counts_wa.to_csv('illegal_counts_wa.csv')
illegal_counts_yd.to_csv('illegal_counts_yd.csv')

- 용당동을 제외한 모든 동에서 자신의 동에서 주정차 위반을 하는 비율이 30% 이상이다.
- 대연동과 용호동은 자신의 동에서 주정차 위반을 하는 비율이 매우 높다.
- 그리고 대연동은 용당동, 문현동, 우암동에서 30% 이상의 비율을 차지한다.
- 용호동은 용당동에서 30% 넘는 비율을 차지한다.

### Building

In [24]:
building_dy = building_register[building_register.emd_cd==10600]
building_mh = building_register[building_register.emd_cd==10900]
building_yh = building_register[building_register.emd_cd==10700]
building_gm = building_register[building_register.emd_cd==11100]
building_wa = building_register[building_register.emd_cd==11000]
building_yd = building_register[building_register.emd_cd==10800]

In [25]:
building_dy.to_csv('building_dy.csv')
building_mh.to_csv('building_mh.csv')
building_yh.to_csv('building_yh.csv')
building_gm.to_csv('building_gm.csv')
building_wa.to_csv('building_wa.csv')
building_yd.to_csv('building_yd.csv')

In [26]:
building_count = pd.pivot_table(building_register, index='emd_cd', columns='mus_cd_nm', values='loc',aggfunc='count').fillna(0)
building_count.rename(index={10600:'대연동',10700:'용호동',10800:'용당동',10900:'문현동',11000:'감만동',11100:'우암동'}, inplace=True)

In [27]:
building_count.to_csv('building_count.csv')

### illegal

In [28]:
sum(illegal.cd_loc.value_counts()<10)

13981

In [ ]:
def pro_address(x):
    if len(x.split(' ')) == 1:
        return x
    if x.split(' ')[1].endswith('번길') == True and len(x.split(' '))>2:
        if x.split(' ')[2] != '':
            if x.split(' ')[2][-1] not in [str(i) for i in range(10)]:
                return x.replace(x.split(' ')[1],'')
            else:
                return x
        else:
            if x.split(' ')[0][-1] == '동':
                return x.replace(x.split(' ')[0],'')
            else:
                return x
    elif x.split(' ')[1].endswith('로') == True and len(x.split(' '))>2:
        if x.split(' ')[2] != '':
            if x.split(' ')[2][-1] not in [str(i) for i in range(10)]:
                return x.replace(x.split(' ')[1],'')
            else:
                return x
        else:
            if x.split(' ')[0][-1] == '동':
                return x.replace(x.split(' ')[0],'')
            else:
                return x
    elif x.split(' ')[1].endswith('번가길') == True and len(x.split(' '))>2:
        if x.split(' ')[2] != '':
            if x.split(' ')[2][-1] not in [str(i) for i in range(10)]:
                return x.replace(x.split(' ')[1],'')
            else:
                return x
        else:
            if x.split(' ')[0][-1] == '동':
                return x.replace(x.split(' ')[0],'')
            else:
                return x
    elif (x.split(' ')[0][-2] in [str(i) for i in range(10)])==True:
        return x.replace(x.split(' ')[0],x.split(' ')[0].replace(x.split(' ')[0][-2],''))
    else:
        return x

daeyeondong = illegal.cd_loc[illegal.cd_loc_dong=='대연동'].unique()
illegal_daeyeon_list = pd.DataFrame({'cd_loc':illegal.query('cd_loc in @daeyeondong').reset_index(drop=True).cd_loc.unique()})
illegal_daeyeon_list[['lat','lon']] = np.zeros((illegal_daeyeon_list.shape[0],2))
for i in tqdm(range(illegal_daeyeon_list.shape[0])):
    query = re.sub(r'\s+',' ',pro_address(illegal_daeyeon_list.cd_loc[i].split('(')[0].split(')')[0].replace('대연동 못골역','못골역').replace('대연동 5동주민센타','대연5동주민센터').replace('건너편','').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('다리위','다리').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트')))
    r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
    js = simplejson.JSONEncoder().encode(r.json())
    if r.json()['documents'] == []:
        query = re.sub(r'\s+',' ',illegal_daeyeon_list.cd_loc[i].split('(')[0].split(')')[0].replace('대연동 못골역','못골역').replace('대연동 5동주민센타','대연5동주민센터').replace('건너편','').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('다리위','다리').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트'))
        r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
        js = simplejson.JSONEncoder().encode(r.json())
        if r.json()['meta']['same_name']['selected_region'] != '':
            query = r.json()['meta']['same_name']['selected_region']
            r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
            js = simplejson.JSONEncoder().encode(r.json())
            if r.json()['documents'] == []:
                continue
            else:
                illegal_daeyeon_list['lon'][i] = r.json()['documents'][0]['x']
                illegal_daeyeon_list['lat'][i] = r.json()['documents'][0]['y']
        else:
            continue
    else:
        illegal_daeyeon_list['lon'][i] = r.json()['documents'][0]['x']
        illegal_daeyeon_list['lat'][i] = r.json()['documents'][0]['y']
geo_coordi = []
for add in tqdm(illegal_daeyeon_list[illegal_daeyeon_list.lat==0].cd_loc):
    if len(add.split(' '))>2:
        if add.split(' ')[2][-1] in [str(i) for i in range(10)]:
            add1 = re.sub(r'\s+',' ',pro_address(add.split('(')[0].split(')')[0].replace('대연동 못골역','못골역').replace('대연동 5동주민센타','대연5동주민센터').replace('건너편','').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트')))
            add1 = add1.replace(add1.split(' ')[0]+' ','')
            add_urlenc = parse.quote(add1)
            url_ = api_url+add_urlenc
            request = Request(url_)
            request.add_header('X-NCP-APIGW-API-KEY-ID', client_id)
            request.add_header('X-NCP-APIGW-API-KEY', client_pw)
            try:
                response = urlopen(request)
            except HTTPError as e:
                latitude = 0
                longitude = 0
            else:
                rescode = response.getcode()
                if rescode == 200:
                    response_body = response.read().decode('utf-8')
                    response_body = json.loads(response_body)
                    if response_body['addresses'] != []:
                        latitude = response_body['addresses'][0]['y']
                        longitude = response_body['addresses'][0]['x']
                    else:
                        latitude = 0
                        longitude = 0
                else:
                    latitude = 0
                    longitude = 0
            geo_coordi.append([add,latitude,longitude])
rest_daeyeon = pd.DataFrame(geo_coordi, columns=['cd_loc','lat','lon'])
rest_daeyeon[['lat','lon']] = rest_daeyeon[['lat','lon']].astype('float64')
illegal_daeyeon = illegal_daeyeon_list.copy()
illegal_daeyeon.lat = pd.merge(illegal_daeyeon, rest_daeyeon, on='cd_loc',how='left').fillna(0)[['lat_x','lat_y']].sum(axis=1)
illegal_daeyeon.lon = pd.merge(illegal_daeyeon, rest_daeyeon, on='cd_loc',how='left').fillna(0)[['lon_x','lon_y']].sum(axis=1)
illegal_daeyeon.to_csv('illegal_daeyeon.csv')

munhyundong = illegal.cd_loc[illegal.cd_loc_dong=='문현동'].unique()
illegal_munhyun_list = pd.DataFrame({'cd_loc':illegal.query('cd_loc in @munhyundong').reset_index(drop=True).cd_loc.unique()})
illegal_munhyun_list[['lat','lon']] = np.zeros((illegal_munhyun_list.shape[0],2))
for i in tqdm(range(illegal_munhyun_list.shape[0])):
    query = re.sub(r'\s+',' ',pro_address(illegal_munhyun_list.cd_loc[i].split('(')[0].split(')')[0].replace('건너편','').replace('문현동경동리인A정문주변','문현동경동리인').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('다리위','다리').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트')))
    r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
    js = simplejson.JSONEncoder().encode(r.json())
    if r.json()['documents'] == []:
        query = re.sub(r'\s+',' ',illegal_munhyun_list.cd_loc[i].split('(')[0].split(')')[0].replace('건너편','').replace('문현동경동리인A정문주변','문현동경동리인').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('다리위','다리').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트'))
        r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
        js = simplejson.JSONEncoder().encode(r.json())
        if r.json()['meta']['same_name']['selected_region'] != '':
            query = r.json()['meta']['same_name']['selected_region']
            r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
            js = simplejson.JSONEncoder().encode(r.json())
            if r.json()['documents'] == []:
                continue
            else:
                illegal_munhyun_list['lon'][i] = r.json()['documents'][0]['x']
                illegal_munhyun_list['lat'][i] = r.json()['documents'][0]['y']
        else:
            continue
    else:
        illegal_munhyun_list['lon'][i] = r.json()['documents'][0]['x']
        illegal_munhyun_list['lat'][i] = r.json()['documents'][0]['y']
geo_coordi = []
for add in tqdm(illegal_munhyun_list[illegal_munhyun_list.lat==0].cd_loc):
    if len(add.split(' '))>2:
        if add.split(' ')[2][-1] in [str(i) for i in range(10)]:
            add1 = re.sub(r'\s+',' ',pro_address(add.split('(')[0].split(')')[0].replace('건너편','').replace('문현동경동리인A정문주변','문현동경동리인').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트')))
            add1 = add1.replace(add1.split(' ')[0]+' ','')
            add_urlenc = parse.quote(add1)
            url_ = api_url+add_urlenc
            request = Request(url_)
            request.add_header('X-NCP-APIGW-API-KEY-ID', client_id)
            request.add_header('X-NCP-APIGW-API-KEY', client_pw)
            try:
                response = urlopen(request)
            except HTTPError as e:
                latitude = 0
                longitude = 0
            else:
                rescode = response.getcode()
                if rescode == 200:
                    response_body = response.read().decode('utf-8')
                    response_body = json.loads(response_body)
                    if response_body['addresses'] != []:
                        latitude = response_body['addresses'][0]['y']
                        longitude = response_body['addresses'][0]['x']
                    else:
                        latitude = 0
                        longitude = 0
                else:
                    latitude = 0
                    longitude = 0
            geo_coordi.append([add,latitude,longitude])
rest_munhyun = pd.DataFrame(geo_coordi, columns=['cd_loc','lat','lon'])
rest_munhyun[['lat','lon']] = rest_munhyun[['lat','lon']].astype('float64')
illegal_munhyun = illegal_munhyun_list.copy()
illegal_munhyun.lat = pd.merge(illegal_munhyun, rest_munhyun, on='cd_loc',how='left').fillna(0)[['lat_x','lat_y']].sum(axis=1)
illegal_munhyun.lon = pd.merge(illegal_munhyun, rest_munhyun, on='cd_loc',how='left').fillna(0)[['lon_x','lon_y']].sum(axis=1)
illegal_munhyun.to_csv('illegal_munhyun.csv')

yonghodong = illegal.cd_loc[illegal.cd_loc_dong=='용호동'].unique()
illegal_yongho_list = pd.DataFrame({'cd_loc':illegal.query('cd_loc in @yonghodong').reset_index(drop=True).cd_loc.unique()})
illegal_yongho_list[['lat','lon']] = np.zeros((illegal_yongho_list.shape[0],2))
for i in tqdm(range(illegal_yongho_list.shape[0])):
    query = re.sub(r'\s+',' ',pro_address(illegal_yongho_list.cd_loc[i].split('(')[0].split(')')[0].replace('건너편','').replace('인근','').replace('빌리브센트럴','빌리브센트로').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('다리위','다리').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트')))
    r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
    js = simplejson.JSONEncoder().encode(r.json())
    if r.json()['documents'] == []:
        query = re.sub(r'\s+',' ',illegal_yongho_list.cd_loc[i].split('(')[0].split(')')[0].replace('건너편','').replace('인근','').replace('빌리브센트럴','빌리브센트로').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('다리위','다리').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트'))
        r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
        js = simplejson.JSONEncoder().encode(r.json())
        if r.json()['meta']['same_name']['selected_region'] != '':
            query = r.json()['meta']['same_name']['selected_region']
            r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
            js = simplejson.JSONEncoder().encode(r.json())
            if r.json()['documents'] == []:
                continue
            else:
                illegal_yongho_list['lon'][i] = r.json()['documents'][0]['x']
                illegal_yongho_list['lat'][i] = r.json()['documents'][0]['y']
        else:
            continue
    else:
        illegal_yongho_list['lon'][i] = r.json()['documents'][0]['x']
        illegal_yongho_list['lat'][i] = r.json()['documents'][0]['y']
geo_coordi = []
for add in tqdm(illegal_yongho_list[illegal_yongho_list.lat==0].cd_loc):
    if len(add.split(' '))>2:
        if add.split(' ')[2][-1] in [str(i) for i in range(10)]:
            add1 = re.sub(r'\s+',' ',pro_address(add.split('(')[0].split(')')[0].replace('건너편','').replace('인근','').replace('빌리브센트럴','빌리브센트로').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트')))
            add1 = add1.replace(add1.split(' ')[0]+' ','')
            add_urlenc = parse.quote(add1)
            url_ = api_url+add_urlenc
            request = Request(url_)
            request.add_header('X-NCP-APIGW-API-KEY-ID', client_id)
            request.add_header('X-NCP-APIGW-API-KEY', client_pw)
            try:
                response = urlopen(request)
            except HTTPError as e:
                latitude = 0
                longitude = 0
            else:
                rescode = response.getcode()
                if rescode == 200:
                    response_body = response.read().decode('utf-8')
                    response_body = json.loads(response_body)
                    if response_body['addresses'] != []:
                        latitude = response_body['addresses'][0]['y']
                        longitude = response_body['addresses'][0]['x']
                    else:
                        latitude = 0
                        longitude = 0
                else:
                    latitude = 0
                    longitude = 0
            geo_coordi.append([add,latitude,longitude])
rest_yongho = pd.DataFrame(geo_coordi, columns=['cd_loc','lat','lon'])
rest_yongho[['lat','lon']] = rest_yongho[['lat','lon']].astype('float64')
illegal_yongho = illegal_yongho_list.copy()
illegal_yongho.lat = pd.merge(illegal_yongho, rest_yongho, on='cd_loc',how='left').fillna(0)[['lat_x','lat_y']].sum(axis=1)
illegal_yongho.lon = pd.merge(illegal_yongho, rest_yongho, on='cd_loc',how='left').fillna(0)[['lon_x','lon_y']].sum(axis=1)
illegal_yongho.to_csv('illegal_yongho.csv')

gammandong = illegal.cd_loc[illegal.cd_loc_dong=='감만동'].unique()
illegal_gamman_list = pd.DataFrame({'cd_loc':illegal.query('cd_loc in @gammandong').reset_index(drop=True).cd_loc.unique()})
illegal_gamman_list[['lat','lon']] = np.zeros((illegal_gamman_list.shape[0],2))
for i in tqdm(range(illegal_gamman_list.shape[0])):
    query = re.sub(r'\s+',' ',pro_address(illegal_gamman_list.cd_loc[i].split('(')[0].split(')')[0].replace('건너편','').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('다리위','다리').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트')))
    r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
    js = simplejson.JSONEncoder().encode(r.json())
    if r.json()['documents'] == []:
        query = re.sub(r'\s+',' ',illegal_gamman_list.cd_loc[i].split('(')[0].split(')')[0].replace('건너편','').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('다리위','다리').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트'))
        r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
        js = simplejson.JSONEncoder().encode(r.json())
        if r.json()['meta']['same_name']['selected_region'] != '':
            query = r.json()['meta']['same_name']['selected_region']
            r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
            js = simplejson.JSONEncoder().encode(r.json())
            if r.json()['documents'] == []:
                continue
            else:
                illegal_gamman_list['lon'][i] = r.json()['documents'][0]['x']
                illegal_gamman_list['lat'][i] = r.json()['documents'][0]['y']
        else:
            continue
    else:
        illegal_gamman_list['lon'][i] = r.json()['documents'][0]['x']
        illegal_gamman_list['lat'][i] = r.json()['documents'][0]['y']
geo_coordi = []
for add in tqdm(illegal_gamman_list[illegal_gamman_list.lat==0].cd_loc):
    if len(add.split(' '))>2:
        if add.split(' ')[2][-1] in [str(i) for i in range(10)]:
            add1 = re.sub(r'\s+',' ',pro_address(add.split('(')[0].split(')')[0].replace('건너편','').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트')))
            add1 = add1.replace(add1.split(' ')[0]+' ','')
            add_urlenc = parse.quote(add1)
            url_ = api_url+add_urlenc
            request = Request(url_)
            request.add_header('X-NCP-APIGW-API-KEY-ID', client_id)
            request.add_header('X-NCP-APIGW-API-KEY', client_pw)
            try:
                response = urlopen(request)
            except HTTPError as e:
                latitude = 0
                longitude = 0
            else:
                rescode = response.getcode()
                if rescode == 200:
                    response_body = response.read().decode('utf-8')
                    response_body = json.loads(response_body)
                    if response_body['addresses'] != []:
                        latitude = response_body['addresses'][0]['y']
                        longitude = response_body['addresses'][0]['x']
                    else:
                        latitude = 0
                        longitude = 0
                else:
                    latitude = 0
                    longitude = 0
            geo_coordi.append([add,latitude,longitude])
rest_gamman = pd.DataFrame(geo_coordi, columns=['cd_loc','lat','lon'])
rest_gamman[['lat','lon']] = rest_gamman[['lat','lon']].astype('float64')
illegal_gamman = illegal_gamman_list.copy()
illegal_gamman.lat = pd.merge(illegal_gamman, rest_gamman, on='cd_loc',how='left').fillna(0)[['lat_x','lat_y']].sum(axis=1)
illegal_gamman.lon = pd.merge(illegal_gamman, rest_gamman, on='cd_loc',how='left').fillna(0)[['lon_x','lon_y']].sum(axis=1)
illegal_gamman.to_csv('illegal_gamman.csv')

wuamdong = illegal.cd_loc[illegal.cd_loc_dong=='우암동'].unique()
illegal_wuam_list = pd.DataFrame({'cd_loc':illegal.query('cd_loc in @wuamdong').reset_index(drop=True).cd_loc.unique()})
illegal_wuam_list[['lat','lon']] = np.zeros((illegal_wuam_list.shape[0],2))
for i in tqdm(range(illegal_wuam_list.shape[0])):
    query = re.sub(r'\s+',' ',pro_address(illegal_wuam_list.cd_loc[i].split('(')[0].split(')')[0].replace('건너편','').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('다리위','다리').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트')))
    r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
    js = simplejson.JSONEncoder().encode(r.json())
    if r.json()['documents'] == []:
        query = re.sub(r'\s+',' ',illegal_wuam_list.cd_loc[i].split('(')[0].split(')')[0].replace('건너편','').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('다리위','다리').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트'))
        r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
        js = simplejson.JSONEncoder().encode(r.json())
        if r.json()['meta']['same_name']['selected_region'] != '':
            query = r.json()['meta']['same_name']['selected_region']
            r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
            js = simplejson.JSONEncoder().encode(r.json())
            if r.json()['documents'] == []:
                continue
            else:
                illegal_wuam_list['lon'][i] = r.json()['documents'][0]['x']
                illegal_wuam_list['lat'][i] = r.json()['documents'][0]['y']
        else:
            continue
    else:
        illegal_wuam_list['lon'][i] = r.json()['documents'][0]['x']
        illegal_wuam_list['lat'][i] = r.json()['documents'][0]['y']
geo_coordi = []
for add in tqdm(illegal_wuam_list[illegal_wuam_list.lat==0].cd_loc):
    if len(add.split(' '))>2:
        if add.split(' ')[2][-1] in [str(i) for i in range(10)]:
            add1 = re.sub(r'\s+',' ',pro_address(add.split('(')[0].split(')')[0].replace('건너편','').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트')))
            add1 = add1.replace(add1.split(' ')[0]+' ','')
            add_urlenc = parse.quote(add1)
            url_ = api_url+add_urlenc
            request = Request(url_)
            request.add_header('X-NCP-APIGW-API-KEY-ID', client_id)
            request.add_header('X-NCP-APIGW-API-KEY', client_pw)
            try:
                response = urlopen(request)
            except HTTPError as e:
                latitude = 0
                longitude = 0
            else:
                rescode = response.getcode()
                if rescode == 200:
                    response_body = response.read().decode('utf-8')
                    response_body = json.loads(response_body)
                    if response_body['addresses'] != []:
                        latitude = response_body['addresses'][0]['y']
                        longitude = response_body['addresses'][0]['x']
                    else:
                        latitude = 0
                        longitude = 0
                else:
                    latitude = 0
                    longitude = 0
            geo_coordi.append([add,latitude,longitude])
rest_wuam = pd.DataFrame(geo_coordi, columns=['cd_loc','lat','lon'])
rest_wuam[['lat','lon']] = rest_wuam[['lat','lon']].astype('float64')
illegal_wuam = illegal_wuam_list.copy()
illegal_wuam.lat = pd.merge(illegal_wuam, rest_wuam, on='cd_loc',how='left').fillna(0)[['lat_x','lat_y']].sum(axis=1)
illegal_wuam.lon = pd.merge(illegal_wuam, rest_wuam, on='cd_loc',how='left').fillna(0)[['lon_x','lon_y']].sum(axis=1)
illegal_wuam.to_csv('illegal_wuam.csv')

yongdangdong = illegal.cd_loc[illegal.cd_loc_dong=='용당동'].unique()
illegal_yongdang_list = pd.DataFrame({'cd_loc':illegal.query('cd_loc in @yongdangdong').reset_index(drop=True).cd_loc.unique()})
illegal_yongdang_list[['lat','lon']] = np.zeros((illegal_yongdang_list.shape[0],2))
for i in tqdm(range(illegal_yongdang_list.shape[0])):
    query = re.sub(r'\s+',' ',pro_address(illegal_yongdang_list.cd_loc[i].split('(')[0].split(')')[0].replace('건너편','').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('다리위','다리').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트')))
    r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
    js = simplejson.JSONEncoder().encode(r.json())
    if r.json()['documents'] == []:
        query = re.sub(r'\s+',' ',illegal_yongdang_list.cd_loc[i].split('(')[0].split(')')[0].replace('건너편','').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('다리위','다리').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트'))
        r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
        js = simplejson.JSONEncoder().encode(r.json())
        if r.json()['meta']['same_name']['selected_region'] != '':
            query = r.json()['meta']['same_name']['selected_region']
            r = requests.get(url, params={'query':query}, headers={'Authorization':'KakaoAK '+apikey})
            js = simplejson.JSONEncoder().encode(r.json())
            if r.json()['documents'] == []:
                continue
            else:
                illegal_yongdang_list['lon'][i] = r.json()['documents'][0]['x']
                illegal_yongdang_list['lat'][i] = r.json()['documents'][0]['y']
        else:
            continue
    else:
        illegal_yongdang_list['lon'][i] = r.json()['documents'][0]['x']
        illegal_yongdang_list['lat'][i] = r.json()['documents'][0]['y']
geo_coordi = []
for add in tqdm(illegal_yongdang_list[illegal_yongdang_list.lat==0].cd_loc):
    if len(add.split(' '))>2:
        if add.split(' ')[2][-1] in [str(i) for i in range(10)]:
            add1 = re.sub(r'\s+',' ',pro_address(add.split('(')[0].split(')')[0].replace('건너편','').replace('인근','').replace('인도','').replace('주변','').replace('공사현장','').replace('입구','').replace('옆','').replace('뒷편','').replace('뒤','').replace('CCTV','').replace('부근','').replace('앞','').replace('@','아파트')))
            add1 = add1.replace(add1.split(' ')[0]+' ','')
            add_urlenc = parse.quote(add1)
            url_ = api_url+add_urlenc
            request = Request(url_)
            request.add_header('X-NCP-APIGW-API-KEY-ID', client_id)
            request.add_header('X-NCP-APIGW-API-KEY', client_pw)
            try:
                response = urlopen(request)
            except HTTPError as e:
                latitude = 0
                longitude = 0
            else:
                rescode = response.getcode()
                if rescode == 200:
                    response_body = response.read().decode('utf-8')
                    response_body = json.loads(response_body)
                    if response_body['addresses'] != []:
                        latitude = response_body['addresses'][0]['y']
                        longitude = response_body['addresses'][0]['x']
                    else:
                        latitude = 0
                        longitude = 0
                else:
                    latitude = 0
                    longitude = 0
            geo_coordi.append([add,latitude,longitude])
rest_yongdang = pd.DataFrame(geo_coordi, columns=['cd_loc','lat','lon'])
rest_yongdang[['lat','lon']] = rest_yongdang[['lat','lon']].astype('float64')
illegal_yongdang = illegal_yongdang_list.copy()
illegal_yongdang.lat = pd.merge(illegal_yongdang, rest_yongdang, on='cd_loc',how='left').fillna(0)[['lat_x','lat_y']].sum(axis=1)
illegal_yongdang.lon = pd.merge(illegal_yongdang, rest_yongdang, on='cd_loc',how='left').fillna(0)[['lon_x','lon_y']].sum(axis=1)
illegal_yongdang.to_csv('illegal_yongdang.csv')

In [31]:
# 좌표 못 찾은 것들 중 주정차위반 횟수 많은 곳 좌표 수동 입력
illegal_yongho.loc[illegal_yongho.cd_loc.map(lambda x: x.startswith('용호동 솔밭공원')),['lat','lon']] = \
np.array([35.119918984982405, 129.10856894660427]*illegal_yongho[illegal_yongho.cd_loc.map(
    lambda x: x.startswith('용호동 솔밭공원'))][['lat','lon']].shape[0]).reshape(illegal_yongho[illegal_yongho.cd_loc.map(
    lambda x: x.startswith('용호동 솔밭공원'))][['lat','lon']].shape)
illegal_yongdang.loc[illegal_yongdang.cd_loc.map(lambda x: x.startswith('용당동 백운1급자동차정비')),['lat','lon']] = \
np.array([35.127693878128824, 129.08349452485044]*illegal_yongdang.loc[illegal_yongdang.cd_loc.map(
    lambda x: x.startswith('용당동 백운1급자동차정비')),['lat','lon']].shape[0]).reshape(illegal_yongdang.loc[illegal_yongdang.cd_loc.map(
    lambda x: x.startswith('용당동 백운1급자동차정비')),['lat','lon']].shape)
illegal_wuam.loc[illegal_wuam.cd_loc.map(lambda x: x.replace(' ','').endswith('대성하이아트부근')),['lat','lon']] = \
np.array([35.127693878128824, 129.08349452485044]*illegal_wuam.loc[illegal_wuam.cd_loc.map(
    lambda x: x.replace(' ','').endswith('대성하이아트부근')),['lat','lon']].shape[0]).reshape(illegal_wuam.loc[illegal_wuam.cd_loc.map(
    lambda x: x.replace(' ','').endswith('대성하이아트부근')),['lat','lon']].shape)

print(f'''대연동:{sum(illegal_daeyeon.lat==0)}\n용호동:{sum(illegal_yongho.lat==0)}\n문현동:{sum(illegal_munhyun.lat==0)}\n우암동:{sum(illegal_wuam.lat==0)}\n용당동:{sum(illegal_yongdang.lat==0)}\n감만동:{sum(illegal_gamman.lat==0)}''')

대연동:3
용호동:72
문현동:4
우암동:19
용당동:8
감만동:5

In [ ]:
illegal_daeyeon.to_csv('illegal_daeyeon.csv')
illegal_yongho.to_csv('illegal_yongho.csv')
illegal_munhyun.to_csv('illegal_munhyun.csv')
illegal_wuam.to_csv('illegal_wuam.csv')
illegal_gamman.to_csv('illegal_gamman.csv')
illegal_yongdang.to_csv('illegal_yongdang.csv')

In [30]:
illegal_daeyeon = pd.read_csv('illegal_daeyeon.csv', index_col=0)
illegal_yongho = pd.read_csv('illegal_yongho.csv', index_col=0)
illegal_munhyun = pd.read_csv('illegal_munhyun.csv', index_col=0)
illegal_wuam = pd.read_csv('illegal_wuam.csv', index_col=0)
illegal_gamman = pd.read_csv('illegal_gamman.csv', index_col=0)
illegal_yongdang = pd.read_csv('illegal_yongdang.csv', index_col=0)

In [32]:
illegal_loc = pd.concat([illegal_daeyeon,illegal_yongho,illegal_munhyun,illegal_gamman,illegal_wuam,illegal_yongdang])
illegal = pd.merge(illegal,illegal_loc,on='cd_loc',how='left')

In [33]:
illegal_loc.to_csv('illegal_loc.csv')

In [34]:
def mean_diff(x):
    if x.count() == 1:
        return np.nan
    else:
        return x.sort_values().diff().mean().days
def arrest_aday(x):
    return np.mean(x.value_counts())

In [ ]:
illegal_stat = illegal.groupby(['lat','lon'])['cd_date'].agg([('검거횟수','count'),('평균검거일수간격',mean_diff),
                                                                    ('하루평균검거대수',arrest_aday)]).reset_index()
illegal_stat.to_csv('illegal_stat.csv')

In [35]:
illegal_stat = pd.read_csv('illegal_stat.csv', index_col=0)

In [36]:
namgu_grid['coordinates'] = namgu_grid.geometry.map(lambda x: x.bounds)

In [4]:
def count_fac(x, table):
    return x.map(lambda x: gpd.points_from_xy(table['lon'],table['lat'])[gpd.points_from_xy(table['lon'],table['lat']).within(x)].shape[0])
def indexing_table(x, table):
    return x.map(lambda x: table[gpd.points_from_xy(table['lon'],table['lat']).within(x)])

In [ ]:
data = pd.DataFrame()
data['id'] = namgu_grid['id']

# grid별 주정차위반 총 검거 수
data['illegal'] = count_fac(namgu_grid.geometry, illegal)

# grid별 평균 주정차위반 시간 간격
data['illegal_mean_sec_diff'] = indexing_table(namgu_grid.geometry, illegal).map(
                                    lambda x: x.cd_date.sort_values().diff().mean()).dt.seconds.fillna(0)

# grid별 평균 주정차위반 검거 수
data['mean_arrest_aday'] = indexing_table(namgu_grid.geometry, illegal).map(lambda x: np.mean(x.cd_date.value_counts())).fillna(0)

In [38]:
def extend_grid(x):
    return Polygon([(x.bounds[k]+0.0022*(k-1),x.bounds[j]+0.0022*(j-2)) for j,k in [(1,0),(1,2),(3,2),(3,0)]])
extended_grid = gpd.GeoDataFrame({'id':namgu_grid.id},geometry=namgu_grid.geometry.map(extend_grid),crs='EPSG:4326')

In [ ]:
data['count_transportation'] = count_fac(extended_grid.geometry, bus)+count_fac(extended_grid.geometry, subway)

In [ ]:
namgu_grid['dong'] = np.zeros(namgu_grid.shape)
for j in tqdm(range(namgu_grid.shape[0])):
    grid_centerpoint = pd.concat((namgu_grid.id,(namgu_grid.geometry.bounds.maxx+namgu_grid.geometry.bounds.minx)/2,
                (namgu_grid.geometry.bounds.maxy+namgu_grid.geometry.bounds.miny)/2),axis=1).rename(columns={0:'lon',1:'lat'})
    grid_lopoint = pd.concat((namgu_grid.id,namgu_grid.geometry.bounds.minx,namgu_grid.geometry.bounds.maxy),axis=1).rename(
        columns={'minx':'lon','maxy':'lat'})
    grid_lupoint = pd.concat((namgu_grid.id,namgu_grid.geometry.bounds.minx,namgu_grid.geometry.bounds.miny),axis=1).rename(
        columns={'minx':'lon','miny':'lat'})
    grid_ropoint = pd.concat((namgu_grid.id,namgu_grid.geometry.bounds.maxx,namgu_grid.geometry.bounds.maxy),axis=1).rename(
        columns={'maxx':'lon','maxy':'lat'})
    grid_rupoint = pd.concat((namgu_grid.id,namgu_grid.geometry.bounds.maxx,namgu_grid.geometry.bounds.miny),axis=1).rename(
        columns={'maxx':'lon','miny':'lat'})
    for i in range(boundary.shape[0]):
        if namgu_grid.id[j] in grid_centerpoint[gpd.points_from_xy(grid_centerpoint['lon'],grid_centerpoint['lat'])\
                                        .within(boundary.geometry[i])].id.values:
            namgu_grid['dong'][j] =  boundary.ADM_DR_NM[i]
            continue
        elif namgu_grid.id[j] in grid_lopoint[gpd.points_from_xy(grid_lopoint['lon'],grid_lopoint['lat'])\
                                        .within(boundary.geometry[i])].id.values:
            namgu_grid['dong'][j] =  boundary.ADM_DR_NM[i]
            continue
        elif namgu_grid.id[j] in grid_lupoint[gpd.points_from_xy(grid_lupoint['lon'],grid_lupoint['lat'])\
                                        .within(boundary.geometry[i])].id.values:
            namgu_grid['dong'][j] =  boundary.ADM_DR_NM[i]
            continue
        elif namgu_grid.id[j] in grid_ropoint[gpd.points_from_xy(grid_ropoint['lon'],grid_ropoint['lat'])\
                                        .within(boundary.geometry[i])].id.values:
            namgu_grid['dong'][j] =  boundary.ADM_DR_NM[i]
            continue
        elif namgu_grid.id[j] in grid_rupoint[gpd.points_from_xy(grid_rupoint['lon'],grid_rupoint['lat'])\
                                        .within(boundary.geometry[i])].id.values:
            namgu_grid['dong'][j] =  boundary.ADM_DR_NM[i]
            continue

namgu_grid.loc[namgu_grid.dong==0,'dong'] = ['문현4동','우암동','감만1동','감만1동','용호4동','용호4동',
                '용호4동','용호4동','용호4동','용호4동','용호4동','용호4동','용호4동','용호4동','용호4동',
                '용호4동','용호1동','용호4동','용호4동','용호3동','용호2동','용호2동']
grid_dong = namgu_grid[['id','dong']]

grid_dong.to_csv('grid_dong.csv')

In [39]:
grid_dong = pd.read_csv('grid_dong.csv',index_col=0)

In [ ]:
grid_dong['dong2'] = grid_dong.dong.map(combine_splitted_dong)
grid_car = pd.merge(grid_dong,car_splitted[['dong','all','non_bs','bs','city','compact','midsize','fullsize']],
                    left_on='dong2',right_on='dong',how='left').drop(columns=['dong_x','dong2','dong_y'])
data = pd.merge(data,grid_car,on='id',how='left')

data['parkinglot_count'] = count_fac(namgu_grid.geometry,parking_lot).fillna(0)
data['parkslot_count'] = indexing_table(namgu_grid.geometry,parking_lot).map(lambda x: x.park_slot.sum()).fillna(0)

data['total_building_count'] = count_fac(namgu_grid.geometry,building_register).fillna(0)

In [ ]:
buildings = pd.DataFrame()
buildings['floor_num'] = building_register[['grd_flr_num','ugr_flr_num']].sum(axis=1)
buildings[['house_num','fam_num']] = building_register[['house_num','fam_num']]
buildings['total_parkingslot_count'] = building_register[['in_mec_num','out_mec_num','in_sfp_num','out_sfp_num']].sum(axis=1)
buildings[['in_mec_num','out_mec_num','in_sfp_num','out_sfp_num']] = building_register[['in_mec_num','out_mec_num','in_sfp_num','out_sfp_num']]
buildings['total_parkingslot_area'] = building_register[['in_mec_area','out_mec_area','in_sfp_area','out_sfp_area']].sum(axis=1)
buildings[['mus_cd_nm','lat','lon']] = building_register[['mus_cd_nm','lat','lon']]


data['mean_floor_num'] = indexing_table(namgu_grid.geometry,buildings).map(lambda x: x.floor_num.mean()).fillna(0)
data['mean_house_num'] = indexing_table(namgu_grid.geometry,buildings).map(lambda x: x.house_num.mean()).fillna(0)
data['mean_fam_num'] = indexing_table(namgu_grid.geometry,buildings).map(lambda x: x.fam_num.mean()).fillna(0)
data['mean_parkingslot_num'] = indexing_table(namgu_grid.geometry,buildings).map(lambda x: x.total_parkingslot_count.mean()).fillna(0)
data['mean_parkingslot_area'] = indexing_table(namgu_grid.geometry,buildings).map(lambda x: x.total_parkingslot_area.mean()).fillna(0)

In [6]:
data['sum_floor_num'] = indexing_table(namgu_grid.geometry,buildings).map(lambda x: x.floor_num.sum()).fillna(0)
data['sum_house_num'] = indexing_table(namgu_grid.geometry,buildings).map(lambda x: x.house_num.sum()).fillna(0)
data['sum_fam_num'] = indexing_table(namgu_grid.geometry,buildings).map(lambda x: x.fam_num.sum()).fillna(0)
data['sum_parkingslot_num'] = indexing_table(namgu_grid.geometry,buildings).map(lambda x: x.total_parkingslot_count.sum()).fillna(0)
data['sum_parkingslot_area'] = indexing_table(namgu_grid.geometry,buildings).map(lambda x: x.total_parkingslot_area.sum()).fillna(0)

In [ ]:
building_old_table = []
for i in tqdm(range(namgu_grid.shape[0])):
    building_old_table.append(building_old[building_old.geometry.within(namgu_grid.geometry[i])])
building_old_table = pd.Series(building_old_table)
data['mean_building_area'] = building_old_table.map(lambda x: x.bd_area.mean()).fillna(0)
data['mean_building_height'] = building_old_table.map(lambda x: x.bd_h.mean()).fillna(0)
data['mean_building_age'] = building_old_table.map(lambda x: x.bd_age.mean()).fillna(0)

In [ ]:
pop = pop.drop(index=pop[pop.dong=='남구'].index).reset_index(drop=True)
teenager = ['0세∼4세','5세∼9세','10세∼14세','15세∼19세']
twenties = [str(20+i)+'세' for i in range(10)]
thirties = [str(30+i)+'세' for i in range(10)]
fourties = [str(40+i)+'세' for i in range(10)]
fifties2sixtyfour = [str(50+i)+'세' for i in range(15)]
mt_64 = [str(50+i)+'세' for i in range(35)]+['100세 이상']
pop_proc = pd.DataFrame({'dong':pop.dong.unique()})

pop_proc['total_pop'] = pop[pop.age=='총계'][pop.stndrd=='계'].mean(axis=1).reset_index(drop=True)
pop_proc['total_pop_m'] = pop[pop.age=='총계'][pop.stndrd=='남'].mean(axis=1).reset_index(drop=True)
pop_proc['total_pop_f'] = pop[pop.age=='총계'][pop.stndrd=='여 '].mean(axis=1).reset_index(drop=True)
pop_proc['20s_pop'] = pop.query('age in @twenties')[pop.stndrd=='계'].mean(axis=1).reset_index(drop=True)
pop_proc['20s_pop_m'] = pop.query('age in @twenties')[pop.stndrd=='남'].mean(axis=1).reset_index(drop=True)
pop_proc['20s_pop_f'] = pop.query('age in @twenties')[pop.stndrd=='여 '].mean(axis=1).reset_index(drop=True)
pop_proc['30s_pop'] = pop.query('age in @thirties')[pop.stndrd=='계'].mean(axis=1).reset_index(drop=True)
pop_proc['30s_pop_m'] = pop.query('age in @thirties')[pop.stndrd=='남'].mean(axis=1).reset_index(drop=True)
pop_proc['30s_pop_f'] = pop.query('age in @thirties')[pop.stndrd=='여 '].mean(axis=1).reset_index(drop=True)
pop_proc['40s_pop'] = pop.query('age in @fourties')[pop.stndrd=='계'].mean(axis=1).reset_index(drop=True)
pop_proc['40s_pop_m'] = pop.query('age in @fourties')[pop.stndrd=='남'].mean(axis=1).reset_index(drop=True)
pop_proc['40s_pop_f'] = pop.query('age in @fourties')[pop.stndrd=='여 '].mean(axis=1).reset_index(drop=True)
pop_proc['50_64_pop'] = pop.query('age in @fifties2sixtyfour')[pop.stndrd=='계'].mean(axis=1).reset_index(drop=True)
pop_proc['50_64_pop_m'] = pop.query('age in @fifties2sixtyfour')[pop.stndrd=='남'].mean(axis=1).reset_index(drop=True)
pop_proc['50_64_pop_f'] = pop.query('age in @fifties2sixtyfour')[pop.stndrd=='여 '].mean(axis=1).reset_index(drop=True)
pop_proc['mt65_pop'] = pop.query('age in @mt_64')[pop.stndrd=='계'].mean(axis=1).reset_index(drop=True)
pop_proc['mt65_pop_m'] = pop.query('age in @mt_64')[pop.stndrd=='남'].mean(axis=1).reset_index(drop=True)
pop_proc['mt65_pop_f'] = pop.query('age in @mt_64')[pop.stndrd=='여 '].mean(axis=1).reset_index(drop=True)
pop_proc['drive_pop'] = pop[pop.age == '총계'][pop.stndrd == '계'].mean(axis=1).reset_index(drop=True)- pop.query(
    'age in @teenager')[pop.stndrd == '계'].groupby('dong').mean().mean(axis=1).reset_index(drop=True)
pop_proc['drive_pop_m'] = pop[pop.age == '총계'][pop.stndrd == '남'].mean(axis=1).reset_index(drop=True)- pop.query(
    'age in @teenager')[pop.stndrd == '남'].groupby('dong').mean().mean(axis=1).reset_index(drop=True)
pop_proc['drive_pop_f'] = pop[pop.age == '총계'][pop.stndrd == '여 '].mean(axis=1).reset_index(drop=True)- pop.query(
    'age in @teenager')[pop.stndrd == '여 '].groupby('dong').mean().mean(axis=1).reset_index(drop=True)
data = pd.merge(data,pd.merge(grid_dong,pop_proc,on='dong',how='left').drop(
    columns=['dong']),on='id',how='left')

UCB|소분류|소분류
-|-|-
11xx|입지|논
12xx|입지|밭
21xx|입지|초지
22xx|입지|임목지
23xx|입지|임목지(가공)
31xx|주거지&상업지|주거지&상업지
32xx|교통시설|교통시설
33xx|공업지|공업지
34xx|공공시설|공공시설
35xx|입지|기타시설(양식,축산,매립지 등)
41xx|자연|습지
42xx|자연|하천
43xx|자연|호소
44xx|자연|백사장

In [40]:
def indexing_table_intersects(x, table):
    return x.map(lambda x: table.geometry.intersects(x))

In [ ]:
# 토지용도별 토지 개수
land_pri_ind = land_usage[land_usage.UCB.map(
    lambda x: x.startswith('1') or x.startswith('2') or x.startswith('35'))].reset_index(drop=True)
land_habitat = land_usage[land_usage.UCB.map(lambda x: x.startswith('31'))].reset_index(drop=True)
land_transpor = land_usage[land_usage.UCB.map(lambda x: x.startswith('32'))].reset_index(drop=True)
land_industrial = land_usage[land_usage.UCB.map(lambda x: x.startswith('33'))].reset_index(drop=True)
land_public_fac = land_usage[land_usage.UCB.map(lambda x: x.startswith('34'))].reset_index(drop=True)
land_nature = land_usage[land_usage.UCB.map(lambda x: x.startswith('4'))].reset_index(drop=True)

data['pri_ind_land_count'] = indexing_table_intersects(namgu_grid.geometry, land_pri_ind).map(lambda x: land_pri_ind.geometry[x].count())
data['habitat_land_count'] = indexing_table_intersects(namgu_grid.geometry, land_habitat).map(lambda x: land_habitat.geometry[x].count())
data['transpor_land_count'] = indexing_table_intersects(namgu_grid.geometry, land_transpor).map(lambda x: land_transpor.geometry[x].count())
data['industrial_land_count'] = indexing_table_intersects(namgu_grid.geometry, land_industrial).map(lambda x: land_industrial.geometry[x].count())
data['public_fac_land_count'] = indexing_table_intersects(namgu_grid.geometry, land_public_fac).map(lambda x: land_public_fac.geometry[x].count())
data['nature_land_count'] = indexing_table_intersects(namgu_grid.geometry, land_nature).map(lambda x: land_nature.geometry[x].count())

광역도로구분코드|설명|도로위계구분코드|설명
-|-|-|-
1|행자부도로|1|고속도로
2|광역도로|2|대로
3|시군구도로|3|로
||4|길

In [ ]:
road_highway = road_address[road_address.ROA_CLS_SE=='1']
road_wideroad = road_address[road_address.ROA_CLS_SE=='2']
road_road = road_address[road_address.ROA_CLS_SE=='3']
road_way = road_address[road_address.ROA_CLS_SE=='4']

data['total_road_count'] = indexing_table_intersects(namgu_grid.geometry,road_address).map(lambda x: road_address[x].ROAD_BT.mean()).fillna(0)
data['highway_count'] = indexing_table_intersects(namgu_grid.geometry,road_highway).map(lambda x: road_highway[x].RN.count())
data['wideroad_count'] = indexing_table_intersects(namgu_grid.geometry,road_wideroad).map(lambda x: road_wideroad[x].RN.count())
data['road_count'] = indexing_table_intersects(namgu_grid.geometry,road_road).map(lambda x: road_road[x].RN.count())
data['way_count'] = indexing_table_intersects(namgu_grid.geometry,road_way).map(lambda x: road_way[x].RN.count())
data['mean_road_width'] = indexing_table_intersects(namgu_grid.geometry,road_address).map(lambda x: road_address[x].RN.count())

In [ ]:
mus_cd_nm_list = building_register.mus_cd_nm.dropna().unique()
for nm in tqdm(mus_cd_nm_list):
    data[f'{nm}_count'] = indexing_table(namgu_grid.geometry,building_register[building_register\
       .mus_cd_nm==nm]).map(lambda x: x.shape[0])

In [ ]:
# 0-주거지역, 1-상업지역, 2-공업지역, 2-산지
gsep = [1,1,1,1,1,1,1,0,2,2,
        1,1,1,1,1,1,1,1,0,0,2,2,2,2,2,2,
        3,3,0,0,0,1,1,0,0,0,0,2,2,2,2,2,2,2,2,2,2,
        0,0,0,0,0,1,1,3,3,0,0,2,2,2,2,2,2,2,2,2,2,
        3,3,3,0,0,3,0,0,0,3,0,0,2,2,2,2,2,2,2,2,2,2,2,
        3,3,3,0,0,0,0,3,0,0,0,0,0,2,2,2,2,0,0,2,2,2,2,
        3,3,3,3,3,0,0,0,0,0,0,3,3,0,0,2,2,0,0,0,0,2,2,2,2,
        3,3,3,3,3,3,3,3,0,0,0,0,3,3,0,0,0,0,0,0,0,0,2,2,2,2,
        3,3,3,3,3,3,3,3,0,0,0,1,1,0,0,0,0,0,0,0,0,0,2,2,2,2,2,
        3,3,3,0,0,3,3,3,0,0,0,1,1,0,0,0,0,0,3,3,0,0,2,2,2,2,2,
        3,3,3,3,3,0,3,3,3,0,0,1,1,1,0,0,3,3,3,3,3,2,2,2,2,2,2,
        3,3,3,3,3,3,0,3,3,0,0,1,1,1,3,0,0,3,3,3,0,2,2,2,2,2,2,2,2,2,2,
        3,3,3,3,3,0,0,0,3,3,1,1,1,0,3,3,0,0,0,2,2,2,2,2,2,2,2,2,2,2,2,2,
        3,3,3,3,3,0,0,0,1,1,0,0,0,3,0,0,2,2,2,2,2,2,2,2,3,3,2,2,2,2,
        3,3,3,3,0,1,1,1,0,0,0,0,0,0,0,3,3,2,2,2,2,3,3,3,2,2,2,2,
        0,1,1,0,0,0,0,0,3,3,3,0,3,3,3,3,3,3,3,3,2,2,2,2,3,
        0,0,0,0,0,0,0,0,3,0,0,0,3,3,3,3,2,2,2,3,3,
        0,0,1,0,0,0,0,0,1,1,1,0,0,3,3,2,2,2,3,3,3,3,
        0,1,0,0,0,0,0,1,1,1,0,0,0,3,3,3,3,3,3,3,3,3,
        0,0,0,0,0,0,0,0,0,0,0,3,3,3,3,3,3,3,
        0,0,0,0,3,3,3,3,3,3,3,3,3,3,0,3,3,3,
        0,0,3,3,3,3,3,3,3,3,3,3,3,3,0,3,3,
        3,3,3,3,3,3,3,3,3,3,3,3,3,0,3,3,3,
        3,3,3,3,3,3,3,3,3,3,3,
        3,3,3,3,3]

data['sep'] = gsep

In [75]:
data.loc[data['sep'] == 0,'주거지역'] = 1
data.loc[data['sep'] == 1,'상업지역'] = 1
data.loc[data['sep'] == 2,'공업지역'] = 1
data.loc[data['sep'] == 3,'산간지역'] = 1
data.iloc[:,-4:] = data.iloc[:,-4:].fillna(0)

In [ ]:
data.to_csv('data.csv')

In [42]:
data = pd.read_csv('data.csv', index_col=0)

### 타동, 자기동 나누기

In [16]:
data_a = pd.DataFrame()

In [17]:
illegal_a = pd.merge(illegal[illegal['where']=='타동'],illegal_loc, how='left')

In [32]:
data_a['id'] = data['id']

In [21]:
data_a['illegal'] = count_fac(namgu_grid.geometry, illegal_a)

In [27]:
data_a['mean_arrest_aday'] = indexing_table(namgu_grid.geometry, illegal_a).map(lambda x: 
                                                    np.mean(x.cd_date.value_counts())).fillna(0)

In [43]:
data_a['sep']=data['sep']

In [45]:
data_a.to_csv('data_a.csv')

In [24]:
data_b = pd.DataFrame()

In [14]:
illegal_b = pd.merge(illegal[illegal['where']=='자기동'],illegal_loc, how='left')

In [37]:
data_b['id'] = data['id']

In [25]:
data_b['illegal'] = count_fac(namgu_grid.geometry, illegal_b)

In [29]:
data_b['mean_arrest_aday'] = indexing_table(namgu_grid.geometry, illegal_b).map(lambda x:
                                                    np.mean(x.cd_date.value_counts())).fillna(0)

In [44]:
data_b['sep']=data['sep']

In [46]:
data_b.to_csv('data_b.csv')